
.services-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.barbers-container{

    background-color: #d19f68;

}

.services-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: max-content;
}


.services-dates{
    width: 50%;
}

.final-container{
    min-width: 50%;
    margin: 0;
    min-height: 100%;
}

.calendar{
    min-width: 50%;
    margin: 0;
}

@media only screen and (max-width: 600px) {

    .services-container{
        padding: 15px;
        background-color: #121212;;
    }

    .services-title{
        font-size: 1.2rem;
        text-align: center;
    }

    label{
        font-size: .8rem !important;
    }

    .services-dates{
        flex-direction: column !important;
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .date-flex{
        flex-direction: column !important;
        width: 90vw;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }

    .calendar-container{
        margin: 0 !important;
    }

    .final-container{
        height: max-content;
    }

}