@tailwind base;
@tailwind components;
@tailwind utilities;


.nav p{
  color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


*{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #111111;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.open-nav{
  display: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px !important;
}

@media only screen and (max-width: 600px) {
  .nav{
    display: none;
  }

  .open-nav{
    display: block;
    margin: 0;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px !important;
  }

  .header-title{
    width: auto;
    margin: 0;
  }

  header p{
    text-align: center;
    margin: 0;
  }
}

input[type='checkbox']{
  cursor: pointer;
}

label{
  cursor: pointer;
  user-select: none;
}