.date-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.date-flex{
    height: 350px;
}

.calendar{
    height: 300px;
    width: 500px;
}

.final-container{
    height:max-content;
    width:500px
}

.confirm-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-button p{
    margin: 0;
}

.confirm-button svg {
    display: none;
}

@media only screen and (max-width: 600px) {

    .confirm-button{
        gap: 2rem;
        position: fixed;
        right: 1.5rem;
        bottom: 3rem;
        min-width: unset;
        width: 3rem !important;
        height: 3rem !important;
    }
    
    .confirm-button p{
        display: none;
    }

    .confirm-button svg {
        display: block;
    }

    .date-page-container{
        height: max-content;
        padding: 1rem;
    }

    .date-flex{
        flex-direction: column;
        height: 100%;
        gap: 5rem;
    }

    .calendar-container{
        margin: 0;
        width: max-content;
    }

    .calendar{
        width: 90vw;
    }

    .final-container{
        width: 90vw;
        margin: 0;
    }

}