.date-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.date-flex{
    height: 350px;
}

.calendar{
    height: 300px;
    width: 500px;
}

.final-container{
    height:300px;
    width:500px
}

@media only screen and (max-width: 600px) {

    .date-page-container{
        height: max-content;
        padding: 1rem;
    }

    .date-flex{
        flex-direction: column;
        height: 100%;
        gap: 5rem;
    }

    .calendar-container{
        margin: 0;
        width: max-content;
    }

    .calendar{
        width: 90vw;
    }

    .final-container{
        width: 90vw;
        margin: 0;
    }

}