.contact-container{
    min-height: 100vh;
    height: max-content;
    background-color: black;
    padding-bottom: 6rem;
}
.contact-flex{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    gap: 3rem;
    padding: 0 2rem;
}

.contact-info{
    background-color: black;
    width: 600px;
    margin: 0 !important;
}

.contact-info div{
    width: 100%;
}

/* w-1/2 justify-end items-center flex bg-black pr-20 pl-22 */
.contact-img{
    width: 55vw;
    max-height: 450px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
}

.map-container{
    width: 70% ;
    height: 600px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    .map-container{
        width: 95% ;
        height: 350px;
    }
    
    .contact-img{
        width: 90vw;
        max-height: 550px;
    }
    
    .contact-container > h2{
        font-size: 3rem;
    }

    .contact-container *{
        text-align: center;
    }

    .contact-flex{
        flex-direction: column;
        background-color: black;
        align-items: center;
    }

    .contact-info{
        padding: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact-info >div{
        width: 100%;
    }
  }

