.prices-container{
    height: 100vh;
    background-color: hsl(210, 3%, 15%);
}

.prices-flex{
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .prices-wrapper{
        padding: 2rem !important;
    }

    .prices-limiter{
        width: 100% !important;
    }

    .prices-title{
        font-size: 4rem !important;
    }
}